#loading{
    position:fixed;
    top: 45%;
    left: 45%;
    width:10%;
    height:10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#menuitem{
    position: fixed;
    background: white;
    display: block;
    width: 100%;
    top: 0;
}

.page{
    display: inline-block;
}

.title{
    text-align: center;
    font-size: 36px;
    display: block;
    font-family: serif;
    color: darkslategrey;
}

.product{
    display:inline-block;
    height:30%;
    width:33%;
    text-align: center;
    border: solid 0.3px gray;
    margin: 1px;
    box-sizing: border-box;
}

.ptitle{
    font-weight: bold;
}

.pimg{
    height: 134px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: block;
    margin: auto;
}

.prate{
    color: green;
    display: block;
}

.pcat{
    color: cadetblue;
    display: inline;
    float: left;
}

.pscore{
    color: gray;
    display: inline;
    float: right;
}

#menus{
    float: right;
    padding-right: 20px;
}

#content{
    clear:both;
    padding-top: 63px;
}

#filtersec, #sort{
    display: inline-block;
    padding-right: 25px;
}

#sort{
    display: inline-block;
}

@media screen and (max-width: 612px)  {
    .product{
        height:30%;
        width:32.9%;
    }

    .pcat, .pscore{
        float: none;
        display: block;
    }

    #filtersec, #sort{
        display: block;
    }

    .title{
        font-size: 30px;
    }

    .pimg{
        height: 108px;
    }
}

@media screen and (max-width: 512px)  {
    .product{
        height:30%;
        width:32.8%;
    }
}

@media screen and (max-width: 412px)  {
    .product{
        height:30%;
        width:32.6%;
    }

    .title{
        font-size: 28px;
    }

    .pimg{
        height: 90px;
    }
}

@media screen and (max-width: 312px)  {
    .product{
        height:30%;
        width:32%;
    }

    #content{
        font-size: 12px;
    }

    .title{
        font-size: 24px;
    }

    .pimg{
        height: 85px;
    }
}

@media screen and (max-width: 212px)  {
    .product{
        height:30%;
        width:30%;
    }

    #content{
        font-size: 10px;
    }

    .title{
        font-size: 20px;
    }
}


 @media only screen and (min-width:960px){
     body,#menuitem{
         width:960px;
         margin: auto;
     }
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    body,#menuitem{
         width:960px;
         margin: auto;
     }
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    body,#menuitem{
         width:960px;
         margin: auto;
     }
    /* for sumo sized (mac) screens */
}
